POSTGRES_DB=audioextract
POSTGRES_USER=devm4n
POSTGRES_PASSWORD=123456
POSTGRES_HOST=postgresql
POSTGRES_PORT=5432

SARVAM_API_KEY=sk_95us9eyx_icnKZ4tz3bZOV3f5bqqXP5mb

B2_KEY_ID=0165c2dbfe6e
B2_APP_KEY=00549d6995c842527fdb514cdcf47553086d44f839
B2_BUCKET=capdamn
